@model RazorPad.Website.Models.Fiddle
<div id="razorPane" class="inlinebox">
    @Html.Partial("_RazorPane", Model.View ?? "")
</div>
<div id="modelPane" class="inlinebox">
    @Html.Partial("_ModelPane")
</div>
<div id="resultsPane" class="">
    @Html.Partial("_ResultsPane")
</div>




<div id="loading"></div>
@if (Model != null && !string.IsNullOrEmpty(Model.Id))
{
    <input type="hidden" id="fiddleId" value="@Model.Id" />
}
<script type="text/javascript" charset="utf-8">
    var RazorPad = typeof (RazorPad) == 'undefined' ? {} : RazorPad;
    RazorPad.siteRoot = "@(Url.Content("~/"))";
    RazorPad.razorEditor = null;
    $(function () {

        function resizeRazorEditor() {
            $(RazorPad.razorEditor.getScrollerElement()).css({
                height: $("#razorPane").height() - $("#viewHeader").height(),
                width: $("#razorPane").width()
            });
            RazorPad.razorEditor.refresh();
            resizeModelProps();
        }

        function resizeModelProps() {
            var $modelPane = $('#modelPane');
            $modelPane.find('.modelProps')
                         .height(
                            $modelPane.height()
                            - $modelPane.find('.paneheader').outerHeight(true)
                            - $modelPane.find('.propinput').outerHeight(true)
                            - 10//modelProps top and bottom padding
                            );
        }

        var outerLayout = $('body').layout({

            north__paneSelector: "#toolbar",
            north__resizable: false,
            north__spacing_open: 0,
            center__paneSelector: "#panes",
            resizeWhileDragging: true,
            closable: false
        });

        var innerLayout = $('#panes').layout({
            closable: false,
            center__paneSelector: "#modelPane",
            west__paneSelector: "#razorPane",
            west__size: Math.floor((screen.width / 1.67) - 10),
            west__maxSize: "70%",
            west__minSize: 400,
            south__paneSelector: "#resultsPane",
            south__maxSize: "70%",
            south__size: Math.floor((screen.height / 2) - 100),
            south__minSize: 200,
            resizeWhileDragging: true,
            onresize: resizeRazorEditor
        });


        RazorPad.razorEditor = CodeMirror.fromTextArea(document.getElementById("razorEditor"), {
            mode: "text/html",
            lineNumbers: true,
            tabMode: "indent",
            matchBrackets: true,
            tabIndex: -1,
            lineWrapping: true,
            extraKeys: {
                "Ctrl-S": function(){ RazorPad.saveTemplate(); },
                "Ctrl-E": function(){ RazorPad.executeTemplate(); }
            }
        });

        $("#panes").css('visibility', 'visible');

        $(window).resize(resizeRazorEditor).resize();

        if($("#fiddleId").val()){
            //Execute the template (adding timeout to load the layout before ajax calls)
            setTimeout(function(){
                RazorPad.executeTemplate();
            }, 200);
        }
    });
</script>
