@model RazorPad.Web.Website.Models.UserSnippetsViewModel

<section class="snippets">
    Examples
    @foreach(var snippet in Model.Snippets)
    {
        <div class="snippet" data-key="@snippet.Key">
            <span class="title"><a href="#">@snippet.DisplayName</a></span>
            <span class="notes" title="@snippet.Notes">@snippet.Notes</span>
            <span class="create-date">@snippet.DisplayDate</span>
        </div>
    }

</section>