<div class="form">
    <div class="form-box">
        <div class="box">
            <h2>Login</h2>
            @if (ViewBag.errorMsg != null)
            {
                <div class="severErrorMsg">@ViewBag.errorMsg</div>
            }
            
        <form name="loginForm" method="post" action="@Url.Action("Login", "Account")">
            <div>
                <label>
                    <span class="form-label">User name:</span>
                    <input tabindex="1" maxlength="25" class="form-field" type="text" id="Username" name="Username" />
                    <span class="errorMsg hide">Enter your user name</span>
                </label>
            </div>
            <div>
                <label>
                    <div>
                        <span class="form-label floatLeft">Password:</span>
                        <a href="@Url.Action("ForgotPassword", "Account")" class="floatRight">Forgot Password?</a>
                        <div class="clear"></div>
                    </div>
                    <input tabindex="2"  maxlength="25" class="form-field" type="password" id="Password" name="Password" />
                    <span class="errorMsg hide">Enter your password</span>
                </label>
            </div>
            <div class="form-button">
                <input tabindex="3" type="submit" id="loginBtn" value="Login" />
                <span class="sign-up">Not registered? <a href="@Url.Action("Register", "Account")">Sign Up</a></span>
                <div class="clear clearfix"></div>
            </div>
        </form>

        </div>
    </div>
    <div class="content">
        Some cotent here Some cotent here<br />
        Some cotent here Some cotent here<br />
        Some cotent here Some cotent here<br />
    </div>
    <div class="clear clearfix">
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/userManagement.js")"></script>
</div>
