@model RazorPad.Web.Website.Models.Account.ResetPasswordRequest
           
<div class="form">
    <form name="resetPasswordForm" method="post" action="@Url.Action("ResetPassword", "Account")">
    <div class="form-box">
        <div class="box">
            <h2>Reset Password</h2>
            @using (Html.BeginForm("ResetPassword", "Account"))
            {
                @Html.HiddenFor(x => x.UserId)
                @Html.ValidationMessageFor(x => x.UserId)

                @Html.HiddenFor(x => x.Token)
                @Html.ValidationMessageFor(x => x.Token)

                <div>
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password)
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                
                <div>
                    @Html.LabelFor(x => x.PasswordConfirm)
                    @Html.PasswordFor(x => x.PasswordConfirm)
                    @Html.ValidationMessageFor(x => x.PasswordConfirm)
                </div>
                
                <div class="form-button">
                    <input type="submit" id="resetBtn" value="Reset" />
                </div>
            }
        </div>
    </div>
    <div class="clear clearfix">
    </div>
</div>
