@model RazorPad.Web.Website.Models.SnippetViewModel
           
<div class="editorContainer">
    <div class="paneheader">
        <div class="title">Model</div>
    </div>

    <div class="modelContent">
        <div class="propinput">
            <input type="text" id="propinput"/>
        </div>
        <div class="modelProps">
            <table id="modelGrid">
                <colgroup>
                    <col width="50%" align="left" />
                    <col width="50%" align="left" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="fontBold">Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prop in Model.ModelProperties)
                    {
                        string type;
                        
                        switch (prop.Value.GetType().ToString())
                        {
                            case "System.Int32":
                            case "System.Int64":
                                type = "int";
                                break;
                            case "System.Double":
                                type = "float";
                                break;
                            default:
                                type = "string";
                                break;
                        }
                            
                        <tr title="@type" class="@type" data-type="@type">
                            <td>
                                <span class="name">@prop.Key</span>
                            </td>
                            <td>
                                <span class='value'>@prop.Value</span>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modelPropClose">X</div>
</div>
