@model RazorPad.Web.Website.Models.SnippetViewModel
<div id="sideBarTabs" class="tabs">
	<h3 class="nomargin"><span class="expanded"></span><a href="#" class="info">Info</a></h3>
    <div>
	    <div class="tabContent">
		    <input type="text" id="snippetTitle" value="@Model.Title" />
		    <textarea id="snippetNotes" rows="3">@Model.Notes</textarea>
	    </div>
    </div>
	@if (User.Identity.IsAuthenticated)
     {
		<h3><span class="expanded"></span><a href="#">Saved Snippets</a></h3>
        <div>
		    <div class="tabContent snippets" id="savedSnippets">
			    @Html.Action("ByUser", "Snippets", new { username = User.Identity.Name, area = string.Empty })
		    </div>
        </div>
     }
     else
     {
        <h3><span class="expanded"></span><a href="#">Recent Snippets</a></h3>
        <div>
		    <div class="tabContent snippets" id="recentSnippets">
			    @Html.Action("Recent", "Snippets")
		    </div>
        </div>
     }
	<h3><span class="expanded"></span><a href="#" class="examples">Examples</a></h3>
	<div>
        <div class="tabContent" id="exampleSnippets">
            Examples
		    @Html.Action("Examples", "Snippets")
	    </div>
    </div>
</div>
<div class="bottomLinks">
	<div>
		<a id="docs-link" href="http://docs.razorpad.net" class="documentation">Documentation</a>
	</div>
	<div id="legal-stuff">
		<h3 class="legal">
			Legal Stuff</h3>
		<p>
			All code belongs to the poster and no license is enforced.</p>
		<p>
			We are not responsible or liable for any loss or damage of any kind during the usage
			of provided code.</p>
	</div>
</div>
