@model RazorPad.Web.Website.Models.SnippetViewModel

@section Head {
    <link href="@Url.Content("~/Content/css/main-ui.min.css")" rel="stylesheet" type="text/css" />
}

@section Actions {
    <ul class="actions">
        <li>
            <a id="execute" href="#" title="Execute the snippet (Ctrl+E)" class="run">Execute</a>
        </li>
        <li>
            <a id="save" href="#" title="Save the snippet (Ctrl+S)" class="save">Save</a>
        </li>
        <li style="@(Model.IsNew ? "display:none;" : "")">
            <a id="clone" href="#" title="Clone the snippet (Ctrl+L)" class="clone">Clone</a>
        </li>
    </ul>
}

@if (!Model.IsNew) {
    <input type="hidden" id="snippetId" value="@Model.Key" />
}

<div id="mainContainer">
    <div id="sidebar">
        @Html.Partial("_SideBar", Model)
    </div>

    <div id="panes">
        <div id="razorPane" class="inlinebox">
            @Html.Partial("_RazorPane")
        </div>
        @*<div id="modelPane" class="inlinebox">
            @Html.Partial("_ModelPane")
        </div>*@
        <div id="resultsPane" class="">
            @Html.Partial("_ResultsPane")
        </div>
    </div>
    <div id="loading"></div>
</div>

@section Tail {
    <script type="text/javascript" charset="utf-8">
        RazorPad = { 
            siteRoot: '@(Url.Content("~/"))',
            isUserAuthenticated: @(User.Identity.IsAuthenticated ? "true" : "false")
        };
    </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery-ui.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery.hotkeys.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery.watermark.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/stringformat.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/xRegExp.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/shCore.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/shBrushCSharp.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/shBrushXml.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/codemirror/codemirror.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/codemirror/mode/xml.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/codemirror/mode/javascript.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/codemirror/mode/css.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/codemirror/mode/htmlmixed.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/hpTabs.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery.layout-latest.js")"> </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/razorpad.js")"> </script>
}