<!DOCTYPE html>
<html>
<head>
    <title>RazorPad: The Online Razor Scratch Pad</title>
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/default/default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/layout-default-latest.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery.js")"></script>
@RenderSection("Head", false)
</head>
<body>
    
    <div id="toolbar" class="gradient ui-layout-north">
        <div id="header">
            <h1 class="insetType" title="The Online Razor Scratch Pad">
                @Html.RouteLink("RazorPad", "Home")
                <span class="beta">beta</span>
            </h1>
        </div>
        @RenderSection("Actions", false)
    </div>
    <div class="clear clearfix"></div>

    @RenderBody()

    @RenderSection("Tail", false)

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26932248-1']);
        _gaq.push(['_setDomainName', 'razorpad.net']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>