@using RazorPad.Web.Website.Extensions
<!DOCTYPE html>
<html>
<head>
	<title>RazorPad: The Online Razor Scratch Pad</title>
	<link href="@Url.Content("~/Content/css/core.min.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
	@RenderSection("Head", false)
</head>
<body>
	<header class="ui-layout-north">
		<table cellpadding="0" cellspacing="0">
			<tr>
			<td width="267">
				<a href="@Url.Action("Index", "Home")">
						<img src="@Url.Content("~/Content/images/Logo.jpg")" alt="RazorPad" height="35px" width="247px" title="The Online Razor Scratch Pad" />
						<span class="beta">beta</span>
					</a>
			</td>
			<td>
				@RenderSection("Actions", false)
			</td>
			<td>
				<ul class="actions secondary">
					@if (!User.Identity.IsAuthenticated)
					{
						<li><a href="@Url.Login()" class="login">Login / Signup</a> </li>
					}
					else
					{
						<li>
                            <a href="@Url.Logout()">Logout</a> 
							@if (User.IsInRole("Admin"))
							{
								@Html.ActionLink("Admin", "Index", "Home", new { area = "Admin" }, null)
							}
                            <span>Welcome, <strong>@User.Identity.Name</strong></span>
						</li>
					}
				</ul>
			</td>
			</tr>
		</table>
    </header>
	@RenderBody()
	@RenderSection("Tail", false)
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26932248-1']);
		_gaq.push(['_setDomainName', 'razorpad.net']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>
