@model IEnumerable<RazorPad.Web.Website.Models.SnippetViewModel>

@{
    ViewBag.Title = "Snippets";
}

<h2>@Html.ActionLink((string)ViewBag.Title, "Snippets")</h2>

<div class="pager">
    @if(ViewBag.Page > 0) {
        @Html.ActionLink("<< Prev", "Snippets", new { page = ViewBag.Page-1, count = ViewBag.Count, username = ViewBag.Username })
    }
    else {
        @:<< Prev
    }
    @Html.ActionLink("Next >>", "Snippets", new { page = ViewBag.Page+1, count = ViewBag.Count, username = ViewBag.Username })
</div>
<table class="snippets">
    <tr>
        <th>
            ID
        </th>
        <th>
            User
        </th>g
        <th>
            Name
        </th>
        <th>
            Created
        </th>
        <th>
            Notes
        </th>
        <th>
            @* Commands *@
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr data-key="@item.Key">
            <td>
                @Html.RouteLink(item.Key, "Snippet", new { id=item.Key },  new { target = "_blank" })
            </td>
            <td>
                @Html.ActionLink(item.CreatedBy, "Snippets", new { username = item.CreatedBy })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotesSummary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Key  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Key  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Key  })
            </td>
        </tr>
    }

</table>
