@model RazorPad.Web.Website.Areas.Account.Models.CreateNewUserRequest 
<div class="form">
    <div class="form-box">
        <div class="box">
            <h2>Sign Up</h2>

            @using(Html.BeginForm("Register", "Password")) {

                @Html.ValidationSummary(true)
                
                <div>
                    @Html.LabelFor(x => x.Email)
                    @Html.EditorFor(x => x.Email)
                    @Html.ValidationMessageFor(x => x.Email)
                </div>                

                <div>
                    @Html.LabelFor(x => x.Username)
                    @Html.EditorFor(x => x.Username)
                    @Html.ValidationMessageFor(x => x.Username)
                </div>                

                <div>
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password)
                    @Html.ValidationMessageFor(x => x.Password)
                </div>                

                <div>
                    @Html.LabelFor(x => x.PasswordConfirm)
                    @Html.PasswordFor(x => x.PasswordConfirm)
                    @Html.ValidationMessageFor(x => x.PasswordConfirm)
                </div>                


                <div class="form-button">
                    <input type="submit" id="signUpBtn" value="Sign Up" />
                </div>
            }
        </div>
    </div>
    <div class="clear clearfix">
    </div>
</div>
